services:
  - type: web
    name: lighthouse-monitor-backend
    env: node
    region: frankfurt
    plan: free
    buildCommand: |
      # Install Chromium dependencies
      apt-get update && apt-get install -y \
        chromium \
        chromium-driver \
        fonts-liberation \
        libasound2 \
        libatk-bridge2.0-0 \
        libatk1.0-0 \
        libatspi2.0-0 \
        libcups2 \
        libdbus-1-3 \
        libdrm2 \
        libgbm1 \
        libgtk-3-0 \
        libnspr4 \
        libnss3 \
        libwayland-client0 \
        libxcomposite1 \
        libxdamage1 \
        libxfixes3 \
        libxkbcommon0 \
        libxrandr2 \
        xdg-utils \
        --no-install-recommends
      
      # Install Node dependencies
      npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: CHROME_PATH
        value: /usr/bin/chromium
      - key: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
        value: true
      - key: PORT
        value: 4500
      - key: MONGO_URI
        sync: false
      - key: FRONTEND_URL
        sync: false
