services:
  - type: web
    name: lighthouse-monitor-backend
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4500
      - key: MONGO_URI
        sync: false
      - key: FRONTEND_URL
        sync: false
