services:
  - type: web
    name: lighthouse-monitor-backend
    env: docker
    region: frankfurt
    plan: free
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4500
      - key: MONGO_URI
        sync: false
      - key: FRONTEND_URL
        sync: false
